@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

body {
    font-family: 'Space Grotesk', sans-serif;
    transition: all 0.1s ;
    background-image: radial-gradient(circle at center center, #ff87ef, #7c64c4), repeating-radial-gradient(circle at center center, #ff87ef, #ff87ef, 51px, transparent 102px, transparent 51px);
    background-blend-mode: multiply;
    background-color: #7c64c4;
    background-color: rgba(17, 25, 40, 0.64);
    background-attachment: fixed;
}

.blur {
    backdrop-filter: blur(25px) saturate(200%);
    -webkit-backdrop-filter: blur(25px) saturate(200%);
    background-color: rgba(17, 25, 40, 0.64);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}

.blur-light {
    backdrop-filter: blur(25px) saturate(200%);
    -webkit-backdrop-filter: blur(25px) saturate(200%);
    background-color: rgba(198, 209, 231, 0.64);
    border-radius: 12px;
    border: 1px solid rgba(32, 32, 32, 0.125);
    color: #16141d;
}

.blur-notice {
    backdrop-filter: blur(25px) saturate(200%);
    -webkit-backdrop-filter: blur(25px) saturate(200%);
    background-color: rgba(230, 121, 244, 0.803);
    border-radius: 12px;
    border: 1px solid rgba(32, 32, 32, 0.125);
    color: #16141d;
}

.row-eq-height {
    flex-wrap: wrap;
}